<!DOCTYPE html>
<head>
   <title>Iris Identification Machine Learning Model</title>
   <link rel="stylesheet" href="http://stash.compjour.org/assets/css/foundation.css">
   <h4>You are logged in as {{ username }}.</h4>
</head>
<body style="width: 880px; margin: auto;">  
    <h1>Iris Dataset Machine Learning Web Service</h1>
    <p>Click <a href="/predict">here</a> to go to the online input page.</p>
    <p>You have reached the Iris machine learning web service. This web API allows you to figure out what kind of flower you have based on some input parameters. So break out the rulers and see what math and science can do.</p>
    <p>And here's an image:</p>
    <a data-flickr-embed="true"  href="https://www.flickr.com/photos/martinlabar/137433273/" title="Blue and white iris"><img src="https://live.staticflickr.com/53/137433273_6bc2fce01c_b.jpg" width="1024" height="768" alt="Blue and white iris"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
</body>